* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  background-color: #000000;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #000000;
}
header img {
  width: 90px;
  height: 80px;
}

@media (min-width: 740px) {
  body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/0ef67cc5-0aa7-47cf-87bd-7f595afc7cfb/963ba93e-6eab-41d1-8dca-4a14c64d1943/CO-es-20221107-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
  }
  body .container__login {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 80px;
    background: linear-gradient(rgba(5, 7, 12, 0.85), rgba(5, 7, 12, 0.85));
  }
  body footer {
    background: linear-gradient(rgba(5, 7, 12, 0.85), rgba(5, 7, 12, 0.85));
  }
  body header {
    background: linear-gradient(rgba(5, 7, 12, 0), rgba(5, 7, 12, 0));
  }
  body .img__header {
    width: 166px;
    height: 130px;
  }
}

section {
  border-bottom: 1px solid #8c8c8c;
}
section .container__body-login {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}
section .container__body-login h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
}
section .container__body-login form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 20px;
  background-color: #333;
  border: none;
  border-radius: 5px;
}
section .container__body-login form input ::placeholder {
  color: #8c8c8c;
}
section .container__body-login .btn__login {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: #e50914;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}
section .container__body-login .container__body-subfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
section .container__body-login .container__body-subfooter input {
  width: 15px;
  height: 15px;
  background: #8c8c8c;
  border-radius: 2px;
}
section .container__body-login .container__body-subfooter label {
  color: #8c8c8c;
  font-size: 0.9rem;
}
section .container__body-login .container__body-subfooter a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #8c8c8c;
}
section .container__body-login .container__body-subscribete {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
section .container__body-login .container__body-subscribete a {
  color: #8c8c8c;
  text-decoration: none;
  font-size: 0.9rem;
}
section .container__body-login .container__body-subscribete b {
  color: #fff;
}
section .container__body-login .container__login-text-protect {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 130px;
}
section .container__body-login .container__login-text-protect p {
  font-size: 0.7rem;
  color: #8c8c8c;
}
section .container__body-login .container__login-text-protect a {
  text-decoration: none;
  color: #0071eb;
}

footer .footer__login {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 90%;
  margin: 0 auto;
  height: auto;
}
footer .footer__login h5 {
  font-size: 1rem;
  font-weight: 300;
  color: #8c8c8c;
  margin-top: 30px;
}
footer .footer__login a {
  text-decoration: none;
  color: #8c8c8c;
}
footer .footer__login .footer__login-condiciones {
  display: grid;
  width: 90%;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 30px;
}
footer .footer__login .footer__login-condiciones a {
  text-decoration: none;
  color: #8c8c8c;
  font-size: 0.8rem;
}
footer .footer__login select {
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 10px;
  width: 120px;
  background-color: #000000;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  border-radius: 2px;
}
footer .footer__login span {
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
